<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Count</title>
  </head>
  <body>
    <form action="/increment" method="post">
      <input type="submit" value="Increment">
    </form>
    <div id="count"><%= @counter.count %></div>
  </body>
</html>
